body,
html {
  font-family: Ubuntu, sans-serif;
}
body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
