.header-logo__link {
	flex-grow: 1.5;
}
.header-logo__image {
	width: 60px;
	margin-right: 10px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.navbar__link {
	margin: auto 10px auto auto;
	font-size: 1.25em;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
.navbar__link:hover {
	color: darkslategray;
	text-decoration: underline;
}
.navbar-button {
	padding: 10px 34px;
	margin-right: 0;
	background-color: #fff;
	border-radius: 5px;
	color: #02ccd6;
}
.navbar-button:hover {
	color: darkslategray;
}
.navbar-button__link:hover {
	text-decoration: none;
}
.header-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
}
.header-button-container {
	padding: 15px;
}
.header-button__hr {
	width: 40px;
	height: 4px;
	margin: 5px 0;
	border-radius: 4px;
	background: #fff;
}
.header-button:hover .header-button__hr {
	opacity: .5;
}