@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import "normalize.css";
body,
html {
  font-family: Ubuntu, sans-serif;
}
body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo__link {
  flex-grow: 1.5;
}
.header-logo__image {
  width: 60px;
  margin-right: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.navbar__link {
  margin: auto 10px auto auto;
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.navbar__link:hover {
  color: darkslategray;
  text-decoration: underline;
}
.navbar__link--button {
  padding: 10px 34px;
  margin-right: 0;
  background-color: #fff;
  border-radius: 5px;
  color: #02ccd6;
}
.navbar__link--button:hover {
  text-decoration: none;
}
.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.header-button-container {
  padding: 15px;
}
.header-button__hr {
  width: 40px;
  height: 4px;
  margin: 5px 0;
  border-radius: 4px;
  background: #fff;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -143px;
  height: 100vh;
  min-height: 430px;
  background: #02ccd6 url(../img/bg_hero.svg) no-repeat;
  background-position: bottom right;
  background-size: cover;
}
.articles {
  background: url(../img/bg_articles.svg);
  background-size: cover;
  position: relative;
}
.articles .container {
  max-width: 1200px;
  flex-direction: column;
}
.articles-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.articles-row:nth-child(2) {
  flex-direction: row-reverse;
}
.articles__text {
  margin-bottom: 40px;
  flex-basis: 595px;
}
.articles__text--h3 {
  font-size: 2.45em;
}
.articles__text--p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 30px;
}
.separator {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.team {
  padding-top: 105px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 136px;
  background-color: #02ccd6;
}
.team .container {
  flex-direction: column;
  max-width: 1200px;
  padding: 80px 40px;
}
.team-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.team__avatar {
  position: relative;
  margin: 15px 0;
}
.team__avatar--img {
  width: 100%;
}
.team__avatar::before {
  content: "";
  position: absolute;
  width: 688px;
  height: 661px;
  top: -44%;
  left: -65%;
  background: url(../img/bg_team.svg) no-repeat;
}
.team__info {
  margin: 0 60px;
  color: #fff;
  flex-grow: 1;
}
.team__info--h3 {
  font-size: 2.45em;
  margin: 0;
}
.team__info--p {
  font-size: 2.45em;
  font-weight: 300;
  line-height: 40px;
  margin: 20px 0 0;
}
.footer {
  position: relative;
  background: #000;
  color: #fff;
}
.footer__bg {
  position: absolute;
  background: url(../img/bg_footer.png) right top no-repeat;
  top: -15%;
  width: 100%;
  height: 115%;
}
.footer .container {
  flex-direction: column;
  max-width: 100%;
}
.footer__contact {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin-bottom: 150px;
}
.footer__contact--h3 {
  font-size: 2.45em;
}
.footer__contact--p {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
}
.footer-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-logo__image {
  width: 60px;
}
.copyright {
  text-align: center;
  font-size: 1.125em;
  font-weight: 300;
  flex-grow: 1;
}
.social__link {
  text-decoration: none;
}
.social__image {
  margin-left: 15px;
}
.social a:nth-child(1) .social__image {
  margin-left: 0px;
}
@media screen and (max-width: 991px) {
  .articles-row {
    justify-content: center;
  }
  .articles__text {
    flex-basis: auto;
  }
  .hero__logo {
    width: 24%;
  }
  .team-row {
    margin-bottom: 40px;
    flex-direction: column;
    text-align: center;
  }
  .team__avatar::before {
    display: none;
    visibility: hidden;
  }
  .team-row:nth-child(2) {
    flex-direction: column-reverse;
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-logo {
    margin: 45px 0;
  }
  .footer__contact {
    margin-bottom: 0;
  }
  .copyright {
    order: 3;
  }
}
@media screen and (min-width: 992px) {
  .team-row:nth-child(even) .team__info {
    text-align: right;
  }
}
@media screen and (max-width: 575.98px) {
  body {
    font-size: 80%;
  }
  .navbar {
    display: none;
  }
  .header-button {
    display: block;
  }
  .separator__svg {
    height: 50px;
  }
  .team {
    padding: 0;
  }
  .footer {
    height: 100vh;
  }
  .footer .container {
    align-content: space-around;
    padding-bottom: 0px;
    height: 100%;
  }
  .footer__bg {
    top: -10%;
    height: 110%;
  }
  .footer__contact {
    padding: 0;
  }
  .footer-row {
    flex-grow: 1;
  }
  .footer-logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  .copyright {
    display: flex;
    align-items: flex-end;
    flex-grow: 0;
  }
}
