@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import 'normalize.css';
/* CSS Document */
body, html {
  	font-family: Ubuntu, sans-serif;
}
body {
	font-size: 100%;
    overflow-x: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo__link {
	flex-grow: 1.5;
}
.header-logo__image {
	width: 60px;
	margin-right: 10px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.navbar__link {
	margin: auto 10px auto auto;
	font-size: 1.25em;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}
.navbar__link:hover {
	color: darkslategray;
	text-decoration: underline;
}
.navbar__link--button {
	padding: 10px 34px;
	margin-right: 0;
	background-color: #fff;
	border-radius: 5px;
	color: #02ccd6;
}
.navbar__link--button:hover {
	text-decoration: none;
}
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -143px;
	height: 100vh;
	min-height: 430px;
	background: #02ccd6 url(../img/bg_hero.svg) no-repeat;
	background-position: center;
	background-size: cover;
}
.articles {
	background: url(../img/bg_articles.svg);
	background-size: cover;
	position: relative;
}
.articles .container {
	flex-direction: column;
}
.articles-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.articles-row:nth-child(2) {
	flex-direction: row-reverse;
}
.articles__image {
	/*margin: 5px;
	flex-grow: 0;*/
}
.articles__text {
	margin-bottom: 40px;
	/*flex-grow: 0;*/
	flex-basis: 595px;
}
.articles__text--h3 {
	font-size: 2.45em;
	/*margin: 15px 0;*/
}
.articles__text--p {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 30px;
}
.separator {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -4px;
}
.team {
	padding: 105px 0;
	background-color: #02ccd6;
}
.team .container {
	flex-direction: column;
}
.team-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.team__avatar {
	position: relative;
	margin: 15px 0;
}
.team__avatar::before {
	content: "";
	position: absolute;
	width: 688px;
	height: 661px;
	top: -44%;
	left: -65%;
	background: url(../img/bg_team.svg) no-repeat;
}
.team-row:nth-child(odd) .team__info {
	margin: 0 60px;
}
.team-row:nth-child(even) .team__info {
	margin: 0 60px;
}
.team__info {
	color: #fff;
	flex-grow: 1;
}
.team__info--h3 {
	font-size: 2.45em;
	margin: 0;
}
.team__info--p {
	font-size: 2.45em;
	font-weight: 300;
	line-height: 40px;
	margin: 20px 0 0;
}
.footer {
	background: #000 url(../img/bg_footer.svg) center;
	background-size: cover;
	color: #fff;
}
.footer .container {
	flex-direction: column;
}
.footer-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footer-logo__image {
	width: 60px;
}
.footer__contact {
	width: 100%;
	max-width: 850px;
	margin-bottom: 150px;
}
.footer__contact--h3 {
	font-size: 2.45em;
}
.footer__contact--p {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
.copyright {
	margin-right: 0 30px;
	text-align: center;
	font-size: 1.125em;
	font-weight: 300;
	flex-grow: 1;
}
.social__link {
	text-decoration: none;
}
.social__image {
	margin-left: 15px;
}
@media screen and (max-width: 991px) {
	body {
	font-size: 80%;
}
	.articles-row {
		justify-content: center;
	}
	.articles__text {
		flex-basis: auto;
	}
	.hero__logo {
	width: 24%;
	}
	.team-row {
		flex-direction: column;
		text-align: center;
	}
	.team__avatar::before {
		display: none;
		visibility: hidden;
	}
	.team-row:nth-child(2) {
		flex-direction: column-reverse;
	}
	.team-row {
		margin-bottom: 40px;
	}
	.footer-row {
		flex-direction: column;
	}
	.footer-logo {
		margin: 45px 0;
	}
	.footer__contact {
		margin-bottom: 0;
	}
	.copyright {
		order: 3;
	}
}
@media screen and (min-width: 992px) {
	.team-row:nth-child(even) .team__info {
		text-align: right;
	}
}
