@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.wrapper {
  max-width: 1440px;
  height: 4500px;
  background-color: #efefef;
  margin: 0 auto;
}
