.error {
	background-color: coral !important;
}

.error::-webkit-input-placeholder {
    color: white !important;
}

.error::-moz-placeholder {
    color: white !important;
}

.alert-message {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	bottom: -24px;
	right: 16px;
	text-align: right;
	font-size: 1em;
}

.visible {
    display: block !important;
}

#card-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	margin: 5px;
	width: 14rem;
}

.poster-wrap { position: relative; }

.poster-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .3s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.poster-wrap:hover::after { opacity: 1; }

.card-img-top {
	height: 20rem;
}

.card-title {
	height: 48px;
}

.modal-body {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.modal-about {
	/*width: 200px;*/
	margin-left: 15px;
}

@media screen and (max-width: 991.98px) {
	.modal-body {
		justify-content: center;
		flex-wrap: wrap;
	}
	.modal-about {
		margin-top: 20px;
	}
}