.navbar {box-shadow: 0px 3px 8px 0px #007bff;}
.error {background-color: coral !important;}
.error::-webkit-input-placeholder {color: white !important;}
.error::-moz-placeholder {color: white !important;}

.display-none {
    display: none;
}

.alert-message {
	position: absolute;
	font-weight: bold;
	width: 100%;
	bottom: -35px;
	right: 16px;
	text-align: right;
	font-size: 1em;
}

.background-wrap {position: relative;}

.background-wrap::before {
	content: '';
	position: absolute;
	height: calc(100vh - 66px);
	top: -48px;
	left: 0;
	right: 0;
	bottom:0;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	background: url(../public/img/background.jpg);
	background-size: cover;
	background-position: center;
	opacity: .2;
	animation: show-bg 2s linear;
}

/*@keyframes show-bg {
	from {opacity: 0;}
	to {opacity: .2;}
}*/

.background-wrap:enabled {
    animation: show-bg 2s linear;
}

.background-wrap::after {
	content: '';
	position: absolute;
	height: calc(100vh - 70px);
	width: 90%;
	top: -44px;
	left: 0;
	right: 0;
	bottom:0;
	margin-left: auto;
	margin-right: auto;
	background: url(../public/img/IMDB_Logo_2016.svg) no-repeat;
	background-size: contain;
	background-position: center;
	opacity: .3;
	animation: transform-bg 4s linear;
}

@keyframes transform-bg {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	30% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: .3;
		transform: scale(1);
	}
}

.card {
	width: 14rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {height: 20rem;}
.card-title {flex-grow: 1;}
.poster-wrap {position: relative;}
.poster-wrap:hover::after {opacity: 1;}
.poster-wrap::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	transition: opacity .3s ease;
}

.modal-dialog {
	max-width: 800px !important;
}
